<div class="content">
  <div class="block-ul">
    <h1>Список контента</h1>
    <dx-button text="Создать" type="danger" stylingMode="outlined" class="creat-button"></dx-button>
    <div *ngFor="let contentitem of responses" class="block-list">

      <p class="id_content">ID:{{contentitem.id}}</p>
      <p class="object_content">Object:{{contentitem.caption}}</p>
      <div class="block-button">
        <dx-button text="Обновить" type="success" stylingMode="contained" class="button-block"></dx-button>
        <dx-button text="Клонировать" type="default" stylingMode="contained" class="button-block"></dx-button>
        <dx-button text="Удалить" type="danger" stylingMode="contained" class="button-block"></dx-button>
      </div>
    </div>
  </div>

  <!-- <p class="id_content">{{response.id}}</p>
      <p class="object_content">{{response.title}}</p> -->


  <div class="forms-up">
    <h1>Форма создания</h1>
    <!-- <div class="form-group"><label for="id_cont">Id</label><input type="text" id="id_cont" name="id_cont"
        placeholder="ID Контента" [(ngModel)]="content.id"></div>
    <div class="form-group"><label for="caption_n">Caption</label><input type="text" id="caption_n" name="caption_n"
        placeholder="Подпись" [(ngModel)]="content.caption"></div>
    <div class="form-group"><label for="">Url</label><input type="text" placeholder="Ссылка" [(ngModel)]="content.url">
    </div>
    <div class="form-group"><label for="">Hint</label><input type="text" [(ngModel)]="content.hint"
        placeholder="Подсказка"></div> 
    <dx-button text="Сохранить" type="danger" stylingMode="outlined" class="save-button" (click)="addContent(content)">
    </dx-button>-->
    <div class="form-group"><label for="id_cont">Id</label><input type="text" id="id_cont" name="id_cont"
        placeholder="ID Контента" [(ngModel)]="idcontent"></div>
    <div class="form-group"><label for="caption_n">Caption</label><input type="text" id="caption_n" name="caption_n"
        placeholder="Подпись" [(ngModel)]="captioncontent"></div>
    <div class="form-group"><label for="">Url</label><input type="text" placeholder="Ссылка" [(ngModel)]="urlcontent">
    </div>
    <div class="form-group"><label for="">Hint</label><input type="text" [(ngModel)]="hintcontent"
        placeholder="Подсказка"></div>
    <dx-button text="Сохранить" type="danger" stylingMode="outlined" class="save-button" (click)="addContent()">
    </dx-button>
  </div>
</div>